In [1]:
import numpy as np

In [2]:
a = np.array([1,2,3,4,5])

In [3]:
print(a)

[1 2 3 4 5]

In [4]:
print(type(a))

<class 'numpy.ndarray'>

In [5]:
print(a[1])
print(a[1:])
print(a[:-2])

a[2] = 10
print(a)

2
[2 3 4 5]
[1 2 3]
[ 1  2 10  4  5]

# Multidimensional Arrays in Numpy
## axis = 0 is row and axis = 1 is column

In [10]:
a2 = np.array([[1,2,3],
               [4,5,6],
               [7,8,9],
               [10,11,12]
              ])

In [7]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
a2[0]

array([1, 2, 3])

In [9]:
print(a2[0,1])

2

## Numpy array attributes

In [12]:
a2.shape

(4, 3)

In [13]:
a2.size

12

In [14]:
a2.ndim

2

In [19]:
a3 = np.array([
    [[1,0,0,0], [0,1,0,0]],
    [[1,0,0,0], [0,0,1,0]],
    [[1,0,0,0], [0,0,0,1]]
])

In [20]:
a3.ndim

3

In [21]:
a3.shape

(3, 2, 4)

In [22]:
a3.size

24

In [23]:
a3.dtype

dtype('int64')

In numpy arrays all the elements in the array must be of same data types.

# Filling Arrays

In [24]:
arr1 = np.full((2,3,4), 7)

In [25]:
arr1

array([[[7, 7, 7, 7],
        [7, 7, 7, 7],
        [7, 7, 7, 7]],

       [[7, 7, 7, 7],
        [7, 7, 7, 7],
        [7, 7, 7, 7]]])

In [26]:
arr2 = np.zeros((2,3,4))

In [27]:
arr2

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [28]:
arr3 = np.ones((2,3,4))

In [29]:
arr3

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [30]:
arr4 = np.empty((2,3,4))

In [32]:
print(arr4)

[[[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]

 [[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]]

## arange() method in numpy is used to create an array within a range of sequence along with a step size

In [33]:
x_values = np.arange(0,1000,10)

In [34]:
print(x_values)

[  0  10  20  30  40  50  60  70  80  90 100 110 120 130 140 150 160 170
 180 190 200 210 220 230 240 250 260 270 280 290 300 310 320 330 340 350
 360 370 380 390 400 410 420 430 440 450 460 470 480 490 500 510 520 530
 540 550 560 570 580 590 600 610 620 630 640 650 660 670 680 690 700 710
 720 730 740 750 760 770 780 790 800 810 820 830 840 850 860 870 880 890
 900 910 920 930 940 950 960 970 980 990]

## linspace() method is used to generate values in an array in equal way depending on the range of sequence and number of values we want to generate

In [40]:
x_values = np.linspace(0, 1000, 6)
print(x_values)

[   0.  200.  400.  600.  800. 1000.]

## Nan is used to fill a value in a dataset when a number is not there

In [42]:
print(np.nan)

nan

In [44]:
print(np.isnan(np.nan))

True

# Mathematical Operations on numpy arrays

In [49]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

a1 = np.array(l1)
a2 = np.array(l2)

print(a1 + a2)
print(a1 - a2)
print(a1 * a2)
print(a1 / a2)

[ 7  9 11 13 15]
[-5 -5 -5 -5 -5]
[ 6 14 24 36 50]
[0.16666667 0.28571429 0.375      0.44444444 0.5       ]

## the dimension of both the arrays have to be compatible in order to perform mathematical operations or else they give error.

In [50]:
a1 = np.array([1,2,3])
a2 = np.array([[1],
              [2]])
print(a1 + a2)

[[2 3 4]
 [3 4 5]]

In [56]:
a = np.array([1,2,3])
print(np.sqrt(a))

[1.         1.41421356 1.73205081]

In [57]:
print(np.sin(a))

[0.84147098 0.90929743 0.14112001]

In [58]:
print(np.cos(a))

[ 0.54030231 -0.41614684 -0.9899925 ]

# Numpy Array Methods

In [60]:
a = np.array([1,2,3])
a = np.append(a, [4,5,6])
print(a)

[1 2 3 4 5 6]

In [61]:
a = np.insert(a, 3, [11,12,13])
print(a)

[ 1  2  3 11 12 13  4  5  6]

for delete method we need to provide the index as well as the axis

In [68]:
arr = np.array([
    [1,2,3],
    [4,5,6]
])
print(arr)
print(np.delete(arr,1, 0))
print(np.delete(arr,1,1))

[[1 2 3]
 [4 5 6]]
[[1 2 3]]
[[1 3]
 [4 6]]

# Numpy arrays Structuring Methods

In [74]:
arr1 = np.array([
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15],
    [16,17,18,19,20]
])
print(arr1.shape)
print(arr1)

(4, 5)
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

reshape(()) method is basically used to change the shape of the array. It can also be used to transpose a matrix.

In [76]:
print(arr1.reshape((5,4)))

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]]

In [75]:
print(arr1.reshape((20,)))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

In [77]:
print(arr1.reshape((20,1)))

[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]
 [13]
 [14]
 [15]
 [16]
 [17]
 [18]
 [19]
 [20]]

In [78]:
print(arr1.reshape((2,10)))

[[ 1  2  3  4  5  6  7  8  9 10]
 [11 12 13 14 15 16 17 18 19 20]]

In [79]:
print(arr1.reshape((2,2,5)))

[[[ 1  2  3  4  5]
  [ 6  7  8  9 10]]

 [[11 12 13 14 15]
  [16 17 18 19 20]]]

resize(()) is same as reshape(()) but in resize(()) array is updated immediately and in reshape(()) we have to return the arrayy

In [80]:
print(arr.flatten())

[1 2 3 4 5 6]

ravel() is same as flatten(), but ravel gives the original array and any changes made in array is reflected in original array and in flatten() change is not reflected in original array. Btw both flatten and revel is used to show any array in 1D.

In [81]:
print(arr1.transpose())

[[ 1  6 11 16]
 [ 2  7 12 17]
 [ 3  8 13 18]
 [ 4  9 14 19]
 [ 5 10 15 20]]

transpose() method is used to swap the axis.

In [83]:
print(arr1.swapaxes(0,1))

[[ 1  6 11 16]
 [ 2  7 12 17]
 [ 3  8 13 18]
 [ 4  9 14 19]
 [ 5 10 15 20]]

## Joining and splitting arrays

## Joining is used to merge two or more arrays into one single array

In [94]:
arr1 = np.array([
    [1,2,3,4,5],
    [6,7,8,9,10]
])

arr2 = np.array([
    [11,12,13,14,15],
    [16,17,18,19,20]
])

a = np.concatenate((arr1,arr2), axis = 1)
b = np.concatenate((arr1,arr2), axis = 0)
print(a)
print(b)

[[ 1  2  3  4  5 11 12 13 14 15]
 [ 6  7  8  9 10 16 17 18 19 20]]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

## VStack and HStack

In [96]:
a = np.vstack((arr1, arr2))

In [97]:
print(a)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

In [98]:
b = np.hstack((arr1,arr2))
print(b)

[[ 1  2  3  4  5 11 12 13 14 15]
 [ 6  7  8  9 10 16 17 18 19 20]]

## Split is used to distribute one single array to two or more arrays.

In [133]:
arr1 = np.array([
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15],
    [16,17,18,19,20],
    [21,22,23,24,25],
    [26,27,28,29,30]
])

In [135]:
x_train,x_valid,x_test = np.split(arr1,3,axis=0)
print(x_train)
print(x_valid)
print(x_test)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
[[11 12 13 14 15]
 [16 17 18 19 20]]
[[21 22 23 24 25]
 [26 27 28 29 30]]